
<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner carousel-1">
      <div class="carousel-item active">
        <%= image_tag 'tomato.jpeg', class: "d-block w-100 mh-50",  alt: "Picture of tomato" %>
      </div>
      <div class="carousel-item carousel-2">
        <%= image_tag 'pumpkin.jpeg', class: "d-block w-100 mh-50",  alt: "Picture of pumpkins" %>
      </div>
      <div class="carousel-item carousel-3">
        <%= image_tag 'pepper.jpeg', class: "d-block w-100 mh-50",  alt: "Picture of coconut" %>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>