
<div class="container">
  <div class="row">
    
      <img src=<%= asset_path('street_market.jpeg') %> alt="test" class="img-responsive img">
      <div class="carousel-caption text">
        <p class="text-pic">Where<br> we meet <br>the farmers</p>
      </div>

  </div>
</div>
