<h5><%= link_to "Home", root_path, class: "badge badge-secondary"  %></h5>

<div class="container">

    <h2 class="text-center mt-3 mb-3 ">Contact Us</h2>
    <br>
    <input type="text" class="form-control mb-3" placeholder="Name" disabled>
    <input type="text" class="form-control mb-3" placeholder="Email" disabled>
    <textarea class="form-control mb-3" placeholder="Message" disabled></textarea>
    <div class="text-right">
        <button type="submit" class="btn btn-info">Submit</button>
    </div>
</div>