<div class="container mt-0 mb-5">
    <div class="row">
      <div class="col-md-12">
        <%= render 'pages/header' %>
      </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <!-- products section -->
        <div class="col-md-9">
          <h1>New arrive</h1>
          <%= render 'products/index' %>
        </div>
        <!-- Sidebar starts -->
        <div class="col-md-3">
          <!-- Categories Widget -->
          <div class="card my-2">
            <h5 class="card-header category-link p-4">Categories</h5>
            <div class="card-body ">
              <div class="row">
                  <ul class="list-unstyled pl-2">
                    <% @categories.each do |category| %>
                      <li>
                        <% @id = category.id %>
                        <%= link_to products_path(:search => {"category_id"=>"#{@id}"}) do %>
                          <div class="category-link"><%= category.name %></div>
                        <% end %>
                      </li>
                    <% end %>
                  </ul>
              </div>
            </div>
          </div>
          <!-- Social links  -->
          <div class="col-my-2 sociallink ">
                <a href="https://www.facebook.com/" class="fa fa-facebook fas" target="_blank" ></a>
                <a href="https://twitter.com/" class="fa fa-twitter fas" target="_blank" ></a>
                <a href="https://www.instagram.com/" class="fa fa-instagram fas" target="_blank" ></a>
              </div>
          </div>
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="py-5 bg-dark mt-3">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Arisa Website 2020</p>
  </div>
  <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>