farmers login



<%= form_with(model: @page, local: true, url: pages_path ) do |form| %>
    <div>
        <%= form.label :key %>
        <%= form.text_field :key %>
    </div>

    <div class="actions">
        <%= form.submit %>
    </div>

<% end %>

