<h1 class="mb-5">Q&A</h1>

<div id="accordion">
  <!-- Question 1 -->
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Q: Do you ship to overseas?
        </button>
      </h5>
    </div>
    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        We would love to fulfil international orders but do not currently offer this service.  Due to the nature of perishable products and the complexity of quarantine restrictions we do not ship outside Australia at present.
      </div>
    </div>
  </div>
  <!-- Question 2 -->
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Q: Do I need a PayPal account to purchase products ?
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        No you do not need a PayPal account, You can use either your credit card or debit card to pay for purchases.
    </div>
  </div>
  <!-- Question 3 -->
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Q: How can I register as a farmer?
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        You need to sign up as a user first, then create a farmer account. 
      </div>
    </div>
  </div>
</div>