@import "bootstrap/dist/css/bootstrap";

.navbar {
    background-color: #fdf6ea !important;
}

.navbar-brand {
    font-size: 3rem;
}

<<<<<<< HEAD
.carousel-item {
    max-height: 40vh !important;
}
=======
.carousel-item {   max-height: 50vh !important; }
>>>>>>> 00b96b0e4517856c6a48c53ec2774b477512a283
