// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.flex-box{
    display: flex;
}

.no-picture-big{
    background-color: pink;
    height: 150px;
    width: 150px;
    border-radius:50%;
    font-size: 20px;
    align-items: center;
    justify-content: center;
}

.category-link{
    color: black;
    padding: 5px;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 1em;
}
